.home {
    text-align: center;
    font-family: Cochin;
    font-size: 20px;
    font-weight: bold;
    position: center;
}

.Beer-bg{
    background-image:
            url("https://i.pinimg.com/736x/2c/cf/a2/2ccfa221ea3e4f392f65b2b2feb855d5.jpg");
    background-size: cover;
    height: 100vh;
    margin-top: -70px;
    font-size:40px;
    background-repeat:no-repeat;
}